* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
}

.card{
    width: 48em;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.18) 5px 3px 3px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.visual{
    display: flex;
    justify-content: center;
    align-items: center;
    width:24em;
    height: 30em;
    border-radius: 10%;
    background-color: #322ce9;
    flex-direction: column;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24em;
    height: 30em;
}

.score{
    color:#c9c5ff;
}

.number{
    font-size: 56px;
    color: #fcfdfe;
}

.great{
    margin-top: 1em;
    color:#fcfdfe;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:13em;
    height: 13em;
    border-radius: 100%;
    margin-top: 1em;
    background: linear-gradient(to bottom, #0802b4, #322ce9);
}

p{
    color:#b7b3fc;
    text-align: center;
    padding: 20px;
    width: 15em;
}

.txt{
    color:#b7b3fc;
}

.summary{
    color: #353b4b;
    margin-bottom: 0.8em;
    margin-left: -5em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:19em;
    height: 3em;
    border-radius: 24px;
    background-color: #353b4b;
    cursor: pointer;
    margin-top: 2em;
}

.continue{
    font-size: 18px;
    color:#fcfdfe;
}

.details{
        height: 18em;
        width:24em;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
}


.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: 18em;
    background-color: #fcfdfe;
    border-radius: 10px;
    padding: 10px;
}

li{
   list-style: none;
}

.data-card1{
    width: 6em;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.data-card2{
    width: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    color: #dd736e;
    margin-left: 8px;
}

.yellow{
    color: #e9b34d;
    margin-left: 8px;
}

.green{
    color:#45af95;
    margin-left: 8px;
}

.blue{
    color: #2c3584;
    margin-left: 8px;
}

.r{
    background-color: #fff6f5;
}

.y{
    background-color: #fffbf2;
}

.g{
    background-color: #f3fbfb;

}

.b{
    background-color: #f2f2fd;
}
